{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "throwIfNamespace": false //Solve Error[Namespace tags are not supported by default. React's JSX doesn't support namespace tags. You can set `throwIfNamespace: false` to bypass this warning.]
      }
    ]
  ],
  "plugins": [
    //Solve Error[Support for the experimental syntax 'classProperties' isn't currently enabled]
    "@babel/plugin-proposal-class-properties"
  ]
}