.modal {
  display: block;

  .mask {
    position        : fixed;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    background-color: #000000d6;
    opacity         : .4;
    z-index         : 1001;
  }

  .content-wrapper {
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : 0;
    right   : 0;

    .content {
      top     : 50px;
      position: relative;
      margin  : 0 auto;
      z-index : 10001;
      min-height: 100px;
      background-color: white;

      .modal-header {
        padding: 5px 10px;

        .close-btn {
          position : absolute;
          right    : 10px;
          top      : 0;
          font-size: 1.5em;
          cursor   : pointer;
        }
      }

      .modal-body {
        padding: 10px;
      }

      .modal-footer {
        position: absolute;
        right   : 0;
        bottom  : 0;
        padding : 5px 10px;
      }
    }
  }
}

.alert-enter {
  transform: scale(0.1) ;
}

.alert-enter-active {
  transform : translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  transform: scale(1)
}

.alert-exit-active {
  transform : scale(0.1);
  transition: opacity 300ms, transform 300ms;
}